{% extends "::base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            {% include ':layout:nav.html.twig' %}
            <div class="span9">
                Welcome to the next generation of ecommerce.
            </div>
        </div>
    </div>

{% endblock %}