<form action="{{ path('product.search') }}" class="navbar-form form-search pull-right" method="POST">
    {{ form_widget(form.search) }}
    {{ form_widget(form.Rechercher) }}
    {{ form_end(form) }}
</form>